
@media (max-width: 1280px) {
    .web-container {
        width: 100%;
    }
}

/* ------------------------------------------------------------------
    Media Queries 1024
------------------------------------------------------------------- */

@media (max-width: 1024px) {

    .web-container {
        width: 100%;
    }

    /* Navbar */
    .navbar__logo {
        left: 46%;
    }

    /* Home */
    .web-container {
        width: 1024px;
    }

    .home__container {
        top: -490px;
    }
    
    .home__img {
        left: 3%;
        width: 45%;
    }

    .home__content {
        width: 40%;
        left: 51%;
        top: -40px;
    }

    .home__content__title {
        font-size: 60px;
    }

    /* About */
    .about__container {
        width: 86%;
        padding-top: 170px;
    }

    .about__content__title {
        font-size: 48px;
    }

    .about__content__text {
        font-size: 22px;
    }
    
    /* Quality */
    .quality__content {
        top: 212px;
        left: 67px;
        width: 46%;
    }

    .quality__content__title {
        font-size: 48px;
    }

    .quality__content__text {
        font-size: 22px;
    }

    .quality__container__img-1 {
        width: 31%;
    }

    .quality__container__img-2 {
        width: 100%;
    }

    .quality__container__img-3 {
        position: absolute;
        right: 0px;
        top: 568px;
        width: 750px;
        width: 52%;
    }

    .quality__container__img-4 {
        top: 628px;
        width: 36%;
    }
    
    /* Gallery */
    .page-top {
        margin-top: 1040px !important;
        padding-bottom: 135px;
    }

    .gallery__title {
        font-size: 48px;
        margin-bottom: 50px;
    }

    img.zoom {
        width: 100%;
        height: 180px;
    }

    /* Enjoy */
    .enjoy__container {
        top: 0px;
        display: flex;
    }

    .enjoy__content__title {
        font-size: 48px;
        margin-top: 49px;
        margin-bottom: 20px;
    }

    .enjoy__content__text {
        text-align: center;
        color: white;
        font-size: 22px;
        padding: 0% 10%;
    }


    /* Menu */

    .menu__container {
        /* margin-top: -40px; */
        padding-top: 150px;
    }

    .menu__title {
        font-size: 48px;
        margin-bottom: 50px;
    }

    .menu__content__card__title {
        margin-top: 36px;
        font-size: 22px;
    }

    .menu__content__card__price {
        margin-top: 16px;
        font-size: 26px;
    }

    /* Enjoy Two */
    .enjoy-two__container {
        margin-top: 120px;
        height: 400px;
    }


    .enjoy-two__img {
        margin-top: -39px;
        width: 46%;
    }

    .enjoy-two__content {
        width: 39%;
        top: 13px;
        right: 10%;
    }

    .enjoy-two__content__title {
        font-size: 48px;
        margin-top: 56px;
        margin-bottom: 20px;
    }

    .enjoy-two__content__text {
        font-size: 22px;
    }

    /* Contact */
    .contact__container {
        width: 100%;
        height: 470px;
        background-color: #37353b;
        text-align: center;
    }
}   


/* ------------------------------------------------------------------
    Media Queries 768
------------------------------------------------------------------- */

@media (max-width: 768px) {

    .web-container {
        width: 100%;
    }

    /* Navbar */
    .navbar__logo {
        left: 46%;
        top: 30px;
    }

    /* Home */
    .web-container {
        width: 768px;
    }

    .home__bg {
        width: 100%;
        height: 590px !important;
        overflow: hidden;
    }

    .home__container {
        top: -340px;
    }

        .home__content {
        width: 49%;
        left: 52%;
        top: -60px;
    }

    .home__content__title {
        font-size: 50px;
    }

    .home__content__text {
        font-size: 20px;
        color: white;
        text-align: left;
        width: 81%;
        /* margin-top: -10px; */
    }

    

    /* About */
    .about__container {
        width: 90%;
        padding-top: 170px;
    }

    .about__img {
        width: 46%;
        /* border-radius: 8px; */
    }

    .about__content__title {
        font-size: 46px;
    }

    .about__content__text {
        font-size: 20px;
    }

    .about__content {
        width: 50%;
        padding-left: 4%;
        /* margin-left: 2%; */
    }
    
    /* Quality */
    
    .quality__container__img-1 {
        width: 31%;
        top: 40px;
    }

    .quality__content__title {
        font-size: 46px;
        width: 70%;
    }

    .quality__content__text {
        font-size: 20px;
    }

    .quality__content {
        top: 109px;
        left: 46px;
        width: 52%;
    }
    
    /* Gallery */
    .page-top {
        margin-top: 900px !important;
        padding-bottom: 120px;
    }

    .gallery__title {
        font-size: 46px;
        margin-bottom: 50px;
    }

    /* Enjoy */
    .enjoy__container {
        top: 0px;
        display: flex;
    }

    .enjoy__bg {
        width: 900px;
    }

    .enjoy__content__title {
        font-size: 46px;
        margin-top: 44px;
        margin-bottom: 20px;
    }

    .enjoy__content__text {
        text-align: center;
        color: white;
        font-size: 20px;
        padding: 0% 10%;
    }

    .enjoy__content {
        height: 72%;
    }


    /* Menu */

    .menu__container {
        /* margin-top: -40px; */
        padding-top: 150px;
    }

    .menu__title {
        font-size: 46px;
        margin-bottom: 48px;
    }

    .menu__content__card__title {
        margin-top: 36px;
        font-size: 20px;
    }

    .menu__content__card__price {
        margin-top: 0px;
        font-size: 24px;
    }

    /* Enjoy Two */
    .enjoy-two__container {
        margin-top: 120px;
        height: 290px;
    }


    .enjoy-two__img {
        margin-top: -39px;
        width: 46%;
    }

    .enjoy-two__content {
        width: 47%;
        top: -26px;
        right: 4%;
    }

    .enjoy-two__content__title {
        font-size: 46px;
        margin-top: 56px;
        margin-bottom: 20px;
    }

    .enjoy-two__content__text {
        font-size: 20px;
    }

    /* Contact */
    .contact__container {
        width: 100%;
        height: 450px;
        background-color: #37353b;
        text-align: center;
    }

    .contact__social-media__logo {
        margin-top: 20px;
        padding: 8px;
        width: 50px;
    }


    
}



/* ------------------------------------------------------------------
    Media Queries 412
------------------------------------------------------------------- */

@media (max-width: 412px) {

    .web-container {
        width: 100%;
    }

    /* Navbar */
    .navbar__logo {
    display: none;
    }

    /* Home */
    .home__img {
        left: 12%;
        width: 72%;
        top: 34px;
    }

    .home__content {
        width: 88%;
        left: 11%;
        top: 296px;
    }

    .home__content__title {
        font-size: 46px;
        
    }

    .home__content__text {
        font-size: 18px;
        color: white;
        text-align: left;
        width: 90%;
        /* margin-top: -10px; */
    }

    .home__container {
        position: static;
    }

    .home__bg {
        width: 100%;
        height: 620px !important;
        overflow: hidden;
    }


    /* About */
    .about {
        width: 95%;
        margin-left: 4%;
    }

    .about__img {
        width: 90%;
    }

    .about__container {
        flex-direction: column;
    }

    .about__container {
        width: 90;
        padding-top: 64px;
        align-items: flex-start;
    }

    .about__content {
        width: 95%;
        padding-left: 0%;
    }

    .about__content__title {
        font-size: 46px;
        margin-top: 20px;
    }

    .about__content__text {
        font-size: 18px;
    }

    /* Quality */
    .quality {
        width: 185%;
    }
    .quality__content {
        top: 36px;
        left: 35px;
        width: 46%;

    }

    .quality__container__img-3 {
        position: absolute;
        right: 99px;
        top: 410px;
        width: 750px;
        width: 45%;
    }

    .quality__container__img-4 {
        top: 490px;
        width: 36%;
    }


    /* Gallery */
    .container {
        /* width: 80% !important; */
        margin-left: 20px;
        /* margin-top: 900px !important; */
    }

    .row > * {
        flex-shrink: 0;
        width: 46%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-top: var(--bs-gutter-y);
    }

    .gallery__title {
        color: white;
        font-size: 46px;
        text-align: left !important;
        padding-top: 160px;
        margin-bottom: 60px;
    }

    img.zoom {
        width: 200px;
        height: 180px;
        /* margin-left: 20px; */
    }
    
    .page-top {
        margin-top: 708px !important;
        padding-bottom: 70px;
    }

    .gallery__title {
        color: white;
        font-size: 46px;
        text-align: center;
        padding-top: 160px;
        margin-bottom: 60px;
    }

    /* Enjoy */
    .enjoy__container {
        width: 100%;
        justify-content: center;
        padding-bottom: 100px;
    }

    .enjoy__bg {
        width: 700px;
        margin-left: 200px;
    }

    .enjoy__content__title {
        font-size: 46px;
        margin-top: 24px;
        margin-bottom: 20px;
    }

    .enjoy__content__text {
        text-align: center;
        color: white;
        font-size: 18px;
        padding: 0% 10%;
    }

    .enjoy__content {
        height: 70%;
        width: 89%;
    }


    /* Menu */

    .menu__container {
        padding-top: 10px;
        width: 80%;
        margin-left: 10%;
    }

    .menu__content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .menu__content__card {
        width: 82%;
        margin-bottom: 50px;
    }

    .menu__title {
        font-size: 46px;
        margin-bottom: 46px;
    }

    .menu__content__card__title {
        margin-top: 36px;
        font-size: 20px;
    }

    .menu__content__card__price {
        margin-top: 0px;
        font-size: 24px;
    }


    /* Enjoy Two */
    .enjoy-two__container {
        width: 100%;
        margin-top: 50px;
        height: 340px;
    }

    

    .enjoy-two__img {
        margin-top: 240px;
        width: 48%;
    }

    .enjoy-two__content {
        width: 80%;
        top: -30px;
        left: 10%;
    }

    .enjoy-two__content__title {
        font-size: 46px;
        margin-top: 56px;
        margin-bottom: 20px;
    }

    .enjoy-two__content__text {
        font-size: 18px;
    }


    /* Contact */
    .contact__logo {
        margin-top: 126px;
    }
}



