/* ------------------------------------------------------------------
    General Styles
------------------------------------------------------------------- */
html {
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    scroll-behavior: smooth;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Patua One', cursive;
    background: #202020;
    height: 2000px;
  }


.web-container {
    margin: 0 auto;
    width: 80%;
    width: 1440px;
}




/* ------------------------------------------------------------------
    Navbar
------------------------------------------------------------------- */
.navbar {
    background-color: rgba(0, 0, 0, 0.4) !important;
    background-color: transparent !important;
}

.navbar-container {
    height: 80px !important;
}

.navbar .navbar-nav {
    margin: 0 auto;
}

.navbar .nav-link {
    display: block;
    font-size: 18px;
    text-align: left;
    /* padding: 25px 20px !important; */
    padding: 16px 25px !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: white !important;
}
    .navbar .nav-link:focus, .navbar .nav-link:hover {
        color: #fb9300 !important;
    }

.navbar__logo {
    position: absolute;
    margin-left: 45%;
    margin-top: 50px;
    cursor: pointer;
}




/* ------------------------------------------------------------------
    Home
------------------------------------------------------------------- */

.home__container {
    position: absolute;
    top: 250px;

    display: flex;
    flex-flow: row grap;
    justify-content: space-around;
}

.home__content__img {
    width: 40%;
    display: flex;
    justify-content: right;
}
    .home__img {
        width: 95%;
    }

.home__content {
    width: 40%;
    margin-right: 15%;
    margin-left: 3%;
}

    .home__content__title {
    font-size: 80px;
    color: #fb9300;
    }

    .home__content__text {
        font-size: 25px;
        color: white;
        text-align: left;
        width: 85%;
        /* margin-top: -10px; */
    }

.home__content__cta {
    width: 200px;
    height: 70px;
    margin-top: 30px;
    border-radius: 10px;
    background-color: #fb9300;
    color: white;
    display: flex;
    justify-content: center;
}

    .home__content__cta a {
        display: block;
        text-decoration: none;
        color: #333237;
        font-size: 24px;
        margin-top: 17px;
    }




/* ------------------------------------------------------------------
    About
------------------------------------------------------------------- */
.about {
    background-color: #1e1d23;
    width: 100%;
}

.about__container {
    width: 90%;
    padding-top: 140px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.about__img {
    width: 40%;
}


.about__content {
    width: 34%;
    margin-left: 15%;
}

    .about__content__title {
        color: white;
        font-size: 55px;
        margin-bottom: 20px;
    }

    .about__content__text {
        color: white;
        font-size: 26px;
    }




/* ------------------------------------------------------------------
    Qualityquality--------------------------------------------------------------- */
.quality {
    background-color: #1e1d23;
    width: 100%;
}

.quality__container {
    position: relative;
    justify-content: flex-end;
}

.quality__container__img-1 {
    position: absolute;
    right: 0px;
}

.quality__container__img-2 {
    position: absolute;
    margin-top: 100px;
}

.quality__container__img-3 {
    position: absolute;
    right: 0px;
    margin-top: 750px;
    width: 750px;
}

.quality__container__img-4 {
    position: absolute;
    top: 855px;
}

.quality__content {
    position: absolute;
    top: 290px;
    left: 100px;
    width: 36%;
    color: white
}

.quality__content__title {
    color: white;
    font-size: 55px;
    margin-bottom: 20px;
}

.quality__content__text {
    color: white;
    font-size: 26px;
}




/* ------------------------------------------------------------------
    Gallery
------------------------------------------------------------------- */
.gallery {
    position: relative;
    top: 1500px;
    padding-bottom: 120px;
}

.gallery__title {
    color: white;
    font-size: 55px;
    text-align: center;
    padding-top: 200px;
    margin-bottom: 70px;
}

.gallery__images {
    width: 90%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;
    align-content: space-evenly;
}

.gallery__images__img {
    width: 100%;
    margin-bottom: 12%;
}




/* ------------------------------------------------------------------
    Enjoy
------------------------------------------------------------------- */
.enjoy__container {
    position: relative;
    top: 1480px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 140px;
}

.enjoy__content {
    position: absolute;
    width: 60%;
    height: 50%;
    background-color: #1e1d23;
    opacity: 0.8;
    border: 10px solid #fb9300;
}

.enjoy__content__title {
    color: white;
    font-size: 55px;
    margin-top: 45px;
    margin-bottom: 20px;
    text-align: center;
}

.enjoy__content__text {
    color: white;
    font-size: 26px;
    padding: 0% 20%;
}




/* ------------------------------------------------------------------
    Enjoy
------------------------------------------------------------------- */
.menu__container {
    margin-top: 1460px;
    padding-bottom: 140px;
}

.menu__title {
    color: white;
    font-size: 55px;
    margin-top: 45px;
    margin-bottom: 60px;
    text-align: center;
}

.menu__content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.menu__content__card {
    width: 28%;
}

.menu__content__card__img {
    width: 100%;
}

.menu__content__card__title {
    color: #fb9300;
    text-transform: uppercase;
    margin-top: 38px;
}

.menu__content__card__text {
    color: white;
    margin-top: 10px;
    font-size: 16px;
}

.menu__content__card__price {
    color: #fb9300;
    margin-top: 18px;
    font-size: 28px;
}
